body {
    background-color: rgb(139, 139, 139);
}

header.jumbotron {
    width: 100%;
    
    display: flex;
    flex-direction: row;

background-color: rgba(155, 90, 180, 0.70);
border-bottom: 2px solid white;
margin-bottom: 20px;
}

h1.mms {
    text-align: center;
    width: 100%;
   
}

main {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    min-height: 500px;
    
   
}
section.main-search {
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(155, 90, 180, 0.70);
    height: fit-content;
    /* align-self: center; */
}

.same-line {
    
    display: flex;
}

section.search-history-container {
    top: 0;
    left: 0;
    height: 99.5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(155, 90, 180, 0.70);
    padding-top: 30px;
    border-right: 2px solid white;
    padding: 5px 5px 0px 0px;
    margin-right: 10px;
    min-width: 200px;
    width: fit-content;
}

article.search-history {
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

section.info-container {
    margin-left: 230px;
}

article.bio-card {
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: rgba(155, 90, 180, 0.70);
    margin-bottom: 20px;
}

.bio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    max-width: 75px;
}

section.social-media {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    
}




div.a-s-container {
    display: flex;
    flex-direction: row;
    
}

article.albums-container {
    width: 40%;
    background-color: rgba(155, 90, 180, 0.70);
    display: flex;
flex-direction: column;
padding: 0px;
justify-content: space-around;
font-size: 1.2vw;


}

section.album-card {
    display: flex;
    flex-direction: row;
    border-top: 2px solid white;
}

.album-visual {
    width: fit-content;
    padding: 0px 15px;
}


ol.song-list {
    padding: 10px;
    width: fit-content;
}

article.lyrics-container {
    width: 60%;
    background-color: rgba(155, 90, 180, 0.70);

}

h2.song-name {
    text-align: center;
}

p.lyrics {
    padding: 0px 20px;
}

.hide {
display:none;
}
