body {
    background-color: rgb(139, 139, 139);
}

header.jumbotron {
    width: 100%;
    display: flex;
    flex-direction: row;

background-color: rgba(155, 90, 180, 0.70);
border-bottom: 2px solid white;
margin-bottom: 20px;
}

h1.mms {
    text-align: center;
    width: 100%;
}

main {
    /* flex-direction: row; */
    display: flex;
}

section.search-history-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(155, 90, 180, 0.70);
    padding-top: 30px;
    border-right: 2px solid white;
    padding: 5px;
    margin-right: 10px;
}

article.search-history {
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

article.bio-card {
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: rgba(155, 90, 180, 0.70);
    margin-bottom: 20px;
}

img {
    max-width: 75px;
}

section.social-media {
    display: flex;
    flex-direction: column;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


div.a-s-container {
    display: flex;
    flex-direction: row;
    
}

article.albums-container {
    width: 40%;
    background-color: rgba(155, 90, 180, 0.70);
    display: flex;
flex-direction: column;
padding: 20px;
justify-content: space-around;

}

section.album-card {
    display: flex;
    flex-direction: row;
    border-top: 2px solid white;
}

.album-visual {
    width: fit-content;
    padding: 0px 15px;
}


ol.song-list {
    padding: 10px;
    width: fit-content;
}

article.lyrics-container {
    width: 60%;
    background-color: rgba(155, 90, 180, 0.70);

}

h2.song-name {
    text-align: center;
}

/* .hide {
    visibility: hidden;
} */
